<!doctype html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
		integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/spicy.css">

	<title>Spicy Battle</title>
</head>

<body>
			<div class="container">

				<h1 class="title_header">BATTLE</h1>



				<div class="window">

					<img class="monster_battle_placement" src="/images/monster-1.png"/>
					<div class="progress monster-hp">
						<div id="monster_hp" class="progress-bar hp_bar" role="progressbar" style="width: 100%" aria-valuenow="25"
							aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<img class="character_battle_placement" src="/images/character-battle.png"/>
				</div>
				{{#if viewAlt}}
				{{#pushups}}
				<div class="row">

					<div class="col-6 text-center" style="margin: 0 auto; margin-top: 10px">
						<button style="width: 150px; margin-top: 10px; font-size: 15px"
						type="button" onclick="dealDamagePushUps()"
						class="btn btn-dark btn-lg exercise-button">{{exerciseName}} <span class="badge badge-secondary">{{repetitions}}</span>
					</button>
					</div>

				</div>
				{{/pushups}}
				{{#situps}}
				<div class="row">

					<div class="col-6 text-center" id={{id}} style="margin: 0 auto; margin-top: 10px">
						<button style="width: 150px; margin-top: 10px; font-size: 15px"
						type="button" onclick="dealDamageSitUps()"
						class="btn btn-dark btn-lg exercise-button">{{exerciseName}} <span class="badge badge-secondary">{{repetitions}}</span>
					</button>

					</div>

				</div>
				{{/situps}}
				{{#jumpingjacks}}
				<div class="row">

					<div class="col-6 text-center" id={{id}} style="margin: 0 auto; margin-top: 10px">
						<button style="width: 150px; margin-top: 10px; font-size: 15px"
						type="button" onclick="dealDamageJumpingJacks()"
						class="btn btn-dark btn-lg exercise-button">{{exerciseName}} <span class="badge badge-secondary">{{repetitions}}</span>
						</button>
					</div>

				</div>
				{{/jumpingjacks}}
				{{#squats}}
				<div class="row">

					<div class="col-6 text-center" id={{id}} style="margin: 0 auto; margin-top: 10px">
						<button style="width: 150px; margin-top: 10px; font-size: 15px"
						type="button" onclick="dealDamageSquats()"
						class="btn btn-dark btn-lg exercise-button">{{exerciseName}} <span class="badge badge-secondary">{{repetitions}}</span>
						</button>
					</div>
				</div>
				{{/squats}}
				{{else}}
				{{#pushups}}
				<div class="row">

					<div class="col-6 text-center" style="margin: 0 auto; margin-top: 10px">
						<button style="width: 150px; margin-top: 10px; font-size: 15px"
						type="button" onclick="dealDamagePushUps()"
						class="btn btn-dark btn-lg exercise-button">{{exerciseName}} <span class="badge badge-secondary">{{repetitions}}</span>
					</button>
					<button style="padding: 5px; margin-top: 10px; font-size: 15px" type="button" class="btn btn-dark btn-lg exercise-button" data-toggle="modal" data-target="#pushups-modal">i</button>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="pushups-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header" style="text-align:center">
					        <h5 class="modal-title" id="staticBackdropLabel" >{{exerciseName}}</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        <img style="width: 150px; height: 250px; border-radius: 20px;" src="{{video}}"/>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>
				</div>
				{{/pushups}}
				{{#situps}}
				<div class="row">

					<div class="col-6 text-center" id={{id}} style="margin: 0 auto; margin-top: 10px">
						<button style="width: 150px; margin-top: 10px; font-size: 15px"
						type="button" onclick="dealDamageSitUps()"
						class="btn btn-dark btn-lg exercise-button">{{exerciseName}} <span class="badge badge-secondary">{{repetitions}}</span>
					</button>
					<button style="padding: 5px; margin-top: 10px; font-size: 15px" type="button" class="btn btn-dark btn-lg exercise-button" data-toggle="modal" data-target="#situps-modal">i</button>

					</div>

					<!-- Modal -->
					<div class="modal fade" id="situps-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
					  <div class="modal-dialog" role="document">
					    <div class="modal-content">
					      <div class="modal-header" style="text-align:center">
					        <h5 class="modal-title" id="staticBackdropLabel" >{{exerciseName}}</h5>
					        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
					          <span aria-hidden="true">&times;</span>
					        </button>
					      </div>
					      <div class="modal-body">
					        <img style="width: 150px; height: 250px; border-radius: 20px;" src="{{video}}"/>
					      </div>
					      <div class="modal-footer">
					        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
					      </div>
					    </div>
					  </div>
					</div>

				</div>
				{{/situps}}
				{{#jumpingjacks}}
				<div class="row">

					<div class="col-6 text-center" id={{id}} style="margin: 0 auto; margin-top: 10px">
						<button style="width: 150px; margin-top: 10px; font-size: 15px"
						type="button" onclick="dealDamageJumpingJacks()"
						class="btn btn-dark btn-lg exercise-button">{{exerciseName}} <span class="badge badge-secondary">{{repetitions}}</span>
						</button>
						<button style="padding: 5px; margin-top: 10px; font-size: 15px" type="button" class="btn btn-dark btn-lg exercise-button" data-toggle="modal" data-target="#jumpingjacks-modal">i</button>
					</div>
					<div class="modal fade" id="jumpingjacks-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header" style="text-align:center">
									<h5 class="modal-title" id="staticBackdropLabel" >{{exerciseName}}</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<img style="width: 150px; height: 250px; border-radius: 20px;" src="{{video}}"/>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>

				</div>
				{{/jumpingjacks}}
				{{#squats}}
				<div class="row">

					<div class="col-6 text-center" id={{id}} style="margin: 0 auto; margin-top: 10px">
						<button style="width: 150px; margin-top: 10px; font-size: 15px"
						type="button" onclick="dealDamageSquats()"
						class="btn btn-dark btn-lg exercise-button">{{exerciseName}} <span class="badge badge-secondary">{{repetitions}}</span>
						</button>
						<button style="padding: 5px; margin-top: 10px; font-size: 15px" type="button" class="btn btn-dark btn-lg exercise-button" data-toggle="modal" data-target="#squats-modal">i</button>
					</div>
					<!-- Modal -->
					<div class="modal fade" id="squats-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header" style="text-align:center">
									<h5 class="modal-title" id="staticBackdropLabel" >{{exerciseName}}</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<img style="width: 150px; height: 250px; border-radius: 20px;" src="{{video}}"/>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				{{/squats}}
				{{/if}}

				<div class="modal fade" id="end-battle-modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header" style="text-align:center">
								<h5 class="modal-title" id="staticBackdropLabel" >YOU KILLED THE MONSTER!</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							</div>
						</div>
					</div>
				</div>
				

				<div >
					<div class="run-button-container" style="text-align: center;">
						<button style="width: 75px; margin-top: 10px; font-size: 10px"
						type="button" onclick="location.href='/index';"
						class="btn btn-dark btn-lg run-button">RUN AWAY</button>
					</div>
				</div>

			</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="/js/fight.js"></script>
	<script src="/js/battle.js"></script>
</body>

</html>
